/*row 1*/

 .navbar-header {
	padding-top: 14px;
 }	

nav .btn-group {
  margin: 0.8rem 2rem 0 0;
  padding-top: 14px; 
}

@media(max-width: 48em){
  nav .btn-group {
    position: absolute;
    top: 0;
    right: 4em;
  }
}

 body {
	padding-top: 3.6em;
 }

 #nav-menu {
	 margin-right: 1em;
 }
 
header {
  background-color: #F8F8F8;
}

header ul {
  margin: 0;
}

header a,
header li {
  padding: 1.4rem 0;
  color: #777;
  font-weight: bold;
}

/*row 2*/
 .searchbar {
	 padding-left: 380px; 
	 display: inline;
 }
@media (min-width: 20em) {
   .searchbar {
	   text-align: center;
   }
  }
  
 
section#intro-header {
  background-image: url(landscape.jpg);
  background-size: cover;
  background-repeat: no-repeat;  
}

section#intro-header .wrap-headline {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}

section#intro-header h1,
section#intro-header h2 {
  color: #FFF;
}

section#intro-header h2 {
  font-size: 1.5em;
}

section#intro-header hr {
  width: 10%;
}

section#intro-header .btn-default {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
}

/*row3 and row4*/
section#about img {
  margin-top: 6.5em;
  margin-bottom: 5em;
}

section#about h3 {
  margin-top: 10em;
}

/*row 5 and row 6*/
section#features {
  background-color: #eef2f5;
  border-top: 0.1rem solid #e9e9e9;
  border-bottom: 0.1rem solid #e9e9e9;
}

sectiolyphiconn#features * {
  color: #657C8E;
}

section#features .feature {
  padding-top: 2em;
  padding-bottom: 4em;
  text-align: center;
}

section#features .glyphicon {
  font-size: 2em;
}

section#features .glyphicon-heart {
  color: #E04C4C;
}

section#features .glyphicon-heart-* {
  font-size: 2em;
}



section#features .feature-tag {
  max-width: 10.7em;
  display: inline-block;
  margin-left: 1.5em;
  font-size: 1.7rem;
  text-align: left;
}

section#features .feature {
  padding-top: 2rem;
  padding-bottom: 4rem;
  text-align: center;
}

/*row 7 and row 8*/
section#pricing .center-block {
  width: 90%
}

section#pricing h3.price-headline {
  margin-top: 5rem;
  margin-bottom: 3rem;
}

section#pricing .white-text {
  color: #FFF;
}

section#pricing thead .success {
  background-color: #78CFBF;
}

section#pricing thead .info {
  background-color: #3EC6E0;
}

section#pricing thead .danger {
  background-color: #E3536C;
}

section#pricing tbody .success {
  background-color: #82DACA;
}

section#pricing tbody .info {
  background-color: #53CFE9;
}

section#pricing tbody .danger {
  background-color: #EB6379;
}

/* section 9 - newsletter */
section#newsletter {
  border-top: 1px solid #E0E0E0;
  padding-top: 3.2em;
  margin-top: 2em;
}

section#newsletter h4 {
  padding: 1em;
}

section#newsletter form {
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 5.5em;
}

/* footer */
footer {
  background-color: #191919;
  color: #ADADAD;
  margin-top: 3em;
}

footer h5,
footer img {
  margin-top: 5em;
  font-weight: bold;
}

footer address {
  margin-top: 5em;
  margin-bottom: 5em;
  color: #5A5A5A;
}

footer ul {
  margin-bottom: 5em;
}

footer address strong {
  color: #ADADAD;
  display: block;
  padding-bottom: 0.62em;
}

footer a {
  font-weight: 300;
  color: #5A5A5A;
}

footer a:hover {
  text-decoration: none;
  color: #FFF;
}

/*contact page*/
section#contact form {
  padding-top: 9rem;
  padding-bottom: 3rem;
}

.hidden-element {
 padding-top: 15px;
}

/* section team */
section#team ul {
  margin: 5rem 0;
}

section#team li {
  margin: 0 5rem;
}

section#team h5 {
  font-size: 1.5rem;
  font-weight: bold;
}