/* Mobile first queries */
/* applies to ALL widths */
 .header {
    padding-top: 10px; 
	padding-left: 10px; 
	padding-right: 20px;
    padding-bottom:	10px; 
	background-image: url(header.jpg);
	position: relative; 
	background-size: cover;
 }
 .logo {
	 font-weight: 600;
	 color: rgb(255, 209, 143);
	 background-color: transparent;
     position: relative;
	 margin: 0px; 
     top: 0; 
     left: 0;
     right: 0;
     padding-left: 10px;
     z-index: 100;
	 text-align: center; 
 }
 .nav { 
    text-align: right;
 }
 .nav .button {
	 width: 48%;
	 margin: 2px 0;
 }
 .button {
	 background-color: rgba(255, 255, 255, 5);
 }
 .button:hover {
	 background-color: rgba(255, 255, 255, .3); 
 }
 .action {
     text-align: center;
     padding-top: 37px;
 }
 .action h1 {
     margin: 0;
 }
 .action h2 {
     margin: 0 0 20px 0;
 }
 .container {
	background-color: ;
 } 


/* Larger than mobile */
/* applies to all widths 400px and greater */
@media (min-width: 400px) {
 
}

/* Larger than phablet */
/* applies to all widths 550px and greater */
@media (min-width: 550px) {

}

/* Larger than tablet */

/* applies to all widths 750px and greater */
@media (min-width: 750px) {
  .logo {

}

/* Larger than desktop */
/* applies to all widths 100px and greater */
@media (min-width: 1000px) {
  
}

/* Larger than Desktop HD */
/* applies to 1200px and greater */
@media (min-width: 1200px) {

}